$animation-duration: 2s;

$center-bar-width: 100px;
$center-bar-height: 20px;
$center-bar-color: #3498db;
$center-bar-border-radius: 10px;

$before-bar-top: -40px;
$before-bar-left: 10px;
$before-bar-width: 80px;
$before-bar-height: 20px;
$before-bar-color: #ef4836;
$before-bar-border-radius: 10px;

$after-bar-bottom: -40px;
$after-bar-width: 70px;
$after-bar-height: 20px;
$after-bar-color: #f5ab35;
$after-bar-border-radius: 10px;

.loader {
  margin: auto;
  margin-top: 180px;
  margin-bottom: 180px;
  width: $center-bar-width;
  height: $center-bar-height;
  background: $center-bar-color;
  border-radius: $center-bar-border-radius;
  animation: load $animation-duration ease-in-out infinite;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    animation: load $animation-duration ease-in-out infinite;
  }

  &:before {
    top: $before-bar-top;
    left: $before-bar-left;
    width: $before-bar-width;
    height: $before-bar-height;
    background: $before-bar-color;
    border-radius: $before-bar-border-radius;
  }

  &:after {
    bottom: $after-bar-bottom;
    width: $after-bar-width;
    height: $after-bar-height;
    background: $after-bar-color;
    border-radius: $after-bar-border-radius;
  }
}

@keyframes load {
  0% {
    transform: translateX(80px);
  }

  50% {
    transform: translateX(-60px);
  }

  100% {
    transform: translateX(80px);
  }
}
